@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
:root {
  --container-back: #fff;
  --background: #0f1522;
  --primary-dark: #f5f5f5;
  --primary: #fff;
  --accent: #3cb4e0;
  --progress-back: #f0f0f0;
  --extra: #a2a3a7;
  --button-background: #fff;
}

.App {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
  overflow: auto;
  background-color: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  font-family: "Poppins", sans-serif;
}

html, body, .App, #root {
  height: 100%;
  width: 100%;
}

.credits {
  color: grey;
  margin: 12px;
  bottom: 0px;
  position: fixed;
  font-weight: bold;
  z-index: 0;
}

.credits a {
  text-decoration: none;
  color: var(--primary) !important;
}


*:focus {
  outline: none;
}

a {
  color: black !important;
}