@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');
:root {
  --primary-dark: #f5f5f5;
  --primary: #fff;
  --accent: #3cb4e0;
  --progress-back: #f0f0f0;
}

.App {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
  overflow: auto;
  background-color: #f1f5fd;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  font-family: "Poppins", sans-serif;
}

html, body, .App, #root {
  height: 100%;
  width: 100%;
}
.credits{
  color: grey;
  margin: 12px;
  position: absolute;
  bottom: 0px;
  font-weight: bold;
}
.credits a{
  text-decoration: none;
}

*:focus {
  outline: none;
}

a {
  color: black !important;
}